{% include 'Common/top.html' %}
{% include 'Common/left.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <iframe id="menuFrame" name="menuFrame" src="" style="overflow:visible;"
                scrolling="auto"
                frameborder="no" height="100%" width="100%">
        </iframe>
    </section>
</div>
<!-- /.content-wrapper -->
{% include 'Common/footer.html' %}

<script>
    $("#menuFrame").height(window.innerHeight - 90);
</script>