<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-facetime-video"></i>
                    <span>监控系统</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="Log/historyInfo" target="menuFrame"><i class="	glyphicon glyphicon-eye-open"></i> 监控记录</a></li>
                    <li><a href="Log/selectHistory" target="menuFrame"><i class="	glyphicon glyphicon-film"></i> 个人进出</a></li>
                </ul>
            </li>



            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>宿舍系统</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="Dormitory/mainPage" target="menuFrame"><i class="glyphicon glyphicon-pushpin"></i> 宿舍空间</a></li>
                    <li><a href="Dormitory/info" target="menuFrame"><i class="glyphicon glyphicon-pushpin"></i> 宿舍信息</a></li>
                    <li><a href="Dormitory/payment" target="menuFrame"><i class="glyphicon glyphicon-flash"></i> 水电缴费</a></li>
                </ul>
            </li>



            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>个人中心</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="User/info" target="menuFrame"><i class="glyphicon glyphicon-zoom-in"></i> 个人信息</a></li>
                    <li><a href="User/updateUserInfo" target="menuFrame"><i class="glyphicon glyphicon-pencil"></i> 信息修改</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>